<div class="account-location">
  <h1 class="account-location__title">Мои адреса</h1>
  <div class="account-location__list">
    <button class="account-location__list-add" type="button">
      <svg class="account-location__list-add-icon">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#add_location"></use>
      </svg>
      Добавить новый адрес
    </button>
    <div class="account-location__list-item">
      <p class="account-location__list-item-title">Дом</p>
      <p class="account-location__list-item-address">
        г. Омск, ул. Куйбышева, д. 123, корпус 4, кв. 56
      </p>
      <button class="account-location__list-item-btn" type="button">
        <svg class="account-location__list-item-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#show"></use>
        </svg>
      </button>
    </div>
    <div class="account-location__list-item">
      <p class="account-location__list-item-title">Дом</p>
      <p class="account-location__list-item-address">
        г. Омск, ул. Куйбышева, д. 123, корпус 4, кв. 56
      </p>
      <button class="account-location__list-item-btn" type="button">
        <svg class="account-location__list-item-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#show"></use>
        </svg>
      </button>
    </div>
    <div class="account-location__list-item">
      <p class="account-location__list-item-title">Дом</p>
      <p class="account-location__list-item-address">
        г. Омск, ул. Куйбышева, д. 123, корпус 4, кв. 56
      </p>
      <button class="account-location__list-item-btn" type="button">
        <svg class="account-location__list-item-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#show"></use>
        </svg>
      </button>
    </div>
    <div class="account-location__list-item">
      <p class="account-location__list-item-title">Дом</p>
      <p class="account-location__list-item-address">
        г. Омск, ул. Куйбышева, д. 123, корпус 4, кв. 56
      </p>
      <button class="account-location__list-item-btn" type="button">
        <svg class="account-location__list-item-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#show"></use>
        </svg>
      </button>
    </div>
    <div class="account-location__list-item">
      <p class="account-location__list-item-title">Дом</p>
      <p class="account-location__list-item-address">
        г. Омск, ул. Куйбышева, д. 123, корпус 4, кв. 56
      </p>
      <button class="account-location__list-item-btn" type="button">
        <svg class="account-location__list-item-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#show"></use>
        </svg>
      </button>
    </div>
    <div class="account-location__list-item">
      <p class="account-location__list-item-title">Дом</p>
      <p class="account-location__list-item-address">
        г. Омск, ул. Куйбышева, д. 123, корпус 4, кв. 56
      </p>
      <button class="account-location__list-item-btn" type="button">
        <svg class="account-location__list-item-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#show"></use>
        </svg>
      </button>
    </div>
  </div>
</div>