<div class="header">
  <button class="header__logo">
    <svg class="header__logo-img" viewBox="0 0 100 100">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#logo">
    </svg>
  </button>

  <div class="header__pannel">
    <div class="header__pannel-phone">
      <svg class="header__pannel-phone-icon">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#phone" viewBox="0 0 16.57 16.61"></use>
      </svg>
      <span class="header__pannel-phone-text">+7 (3182) 60-40-50</span>
    </div>
    <div class="header__pannel-icons">
      {{#each main.headerIcons}}
      <button href={{this.href}} class="header__pannel-icons-btn" type="button">
        <svg class="header__pannel-icons-btn-icon">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#{{this.svg}}"></use>
        </svg>
        {{#if this.messages}}
        <div class="header__pannel-icons-btn-messages">
          {{this.messages}}
        </div> 
        {{/if}}
      </button>
      {{/each}}
    </div>
    <div class="header__pannel-basket">
      <p class="header__pannel-basket-text">
        Корзина
      </p>
      <p class="header__pannel-basket-balance">
        6000
        <span>$</span>
      </p>
    </div>
    <button href="#" class="header__pannel-burger" type="button">
      <svg class="header__pannel-burger-icon">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</div>